body {
  margin:0;
  font-family: 'Source Sans Pro';
}


a{
  text-decoration: none;
  color: white;
}

.navbar{
  display: flex;
  color: white;
  
  align-items: center;
  background-color: #263343;
  padding: 20px 30px;
}

.navbar__logo{
  font-size: 22px;
  color: white;
  padding-left: 20px;  

}


.navbar__menu{
  font-size: 16px;
  display: flex;

  
  list-style: none;
  padding-left: 40px;
  padding-right: 20px;

}

.navbar__menu li{
  padding: 26px 8px;
}

.navbar__menu li:hover{
  background-color: #90d2d8;
  border-radius: 4px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media screen and (max-width: 768px) {
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar__menu{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__menu li{
    width: 100%;
  }

}